page-ch-nh-sahs {
    h4{
     color: #9f1f63;
    }
    #chNhSAHS-button5{
        background-color: #9f1f63;
    }
    #chNhSAHS-button5:hover{
        background-color: #f7941e;
    }
    .item-md.item-input.item-input-has-focus .item-inner, .item-md.item-input.input-has-focus .item-inner {
        border-bottom-color: #9f1f63;
        -webkit-box-shadow: inset 0 -1px 0 0 #9f1f63;
        box-shadow: inset 0 -1px 0 0 #9f1f63;
    }
    .checkbox-md .checkbox-checked {
        background-color: #9f1f63;
        border-color: #9f1f63;
    }
    .list-md .item-input.item-input-has-focus:last-child, .list-md .item-input.input-has-focus:last-child {
        border-bottom-color: #9f1f63;
        -webkit-box-shadow: inset 0 -1px 0 0 #9f1f63;
        box-shadow: inset 0 -1px 0 0 #9f1f63;
    }
    button#chNhSAHS-button5 {
        margin-top:20px;
    }

}
