
page-find-band-post {
    
        #FindBandPost-heading10{
            color:#9f1f63;
            text-align:center;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }
        .img-band{
            display:block;
            width:100%;
            height:auto;
            margin-left:auto;
            margin-right:auto;
            border-radius: 8px;;
        }
        .ion-item{
            color: #9f1f63;
        }
        .show-list-numbers-and-dots{
            color: #9f1f63;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }
        #FindBandPost-button8{
            border-radius: 8px;
            color: #9f1f63;
            border-color: #9f1f63;;
            border-radius:0px 0px 0px 0px;
            background-color: #fff;
        }
        #FindBandPost-button9{       
            border-radius: 8px;
            background-color: #9f1f63;
        }
        #FindBandPost-button9:hover{
            background-color:#f7941e;
          
        }
    

}
