page-join-band {
        .img{
            border-radius: 20px;
        }
        #joinBand-button20{
            background-color: #9f1f63;
        }
        #joinBand-button20:hover{
            background-color:#f7941e;
        }
        #label{
            font-weight: bold;
            color: black;
    
        }
    
}
