
page-edit-profile {
    h4{
     color: #9f1f63;
    }
    #editProfile-button5{
        background-color: #9f1f63;
    }
    #editProfile-button5:hover{
        background-color: #f7941e;
    }
  
    button#editProfile-button5 {
        margin-top:30px;
    }

}
