page-b-ituy-nth-nh-vi-n {
    #bITuyNThNhViN-button11{
         background-color: #9f1f63;;
    }
    #bITuyNThNhViN-button11:hover{
        background-color:#f7941e;
        
    }
    #bITuyNThNhViN-button13{
        border-radius: 8px;
        color: #9f1f63;
        border-color: #9f1f63;
        border-radius:0px 0px 0px 0px;
        background-color: #fff;
    }
    img{
        border-radius: 8px;
    }
    h4{
        color: #9f1f63;
    }

}
