page-gia-nh-pnh-m {
    h4{
        color: #9f1f63;
        font-weight:400;
    }
    #giaNhPNhM-button{
        background-color: #9f1f63;
    }
    #giaNhPNhM-button:hover{
        background-color: #f7941e;
    }


}
