page-ng-gia-nh-pnh-m {
    .img{
        border-radius: 20px;
    }
    #NgGiaNhPNhM-button20{
        background-color: blueviolet;
    }
    #label{
        font-weight: bold;
        color: black;

    }
}
