page-ng-tuy-nband {
    
    #NgTuyNBand-heading10{
        color: blueviolet;
        text-align:center;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    .img-band{
        display:block;
        width:100%;
        height:auto;
        margin-left:auto;
        margin-right:auto;
        border-radius: 8px;;
    }
    .ion-item{
        color: blueviolet;
    }
    .show-list-numbers-and-dots{
        color: blueviolet;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    #NgTuyNBand-button8{
        border-radius: 8px;
        color: blueviolet;
        border-color: blueviolet;;
        border-radius:0px 0px 0px 0px;
    }
    #NgTuyNBand-button9{       
        border-radius: 8px;
        background-color: blueviolet;
    }
}
