page-join-band-post {

    .img{
        border-radius: 20px;
    }
    #joinBandPost-button20{
        background-color: #9f1f63;
    }
    #joinBandPost-button20:hover{
        background-color:#f7941e;
    }
    #label{
        font-weight: bold;
        color: black;

    }

}


