page-ch-nh-sahs {
    h4{
     color: #9f1f63;
    }
    #chNhSAHS-button5{
        background-color: #9f1f63;
    }
    #chNhSAHS-button5:hover{
        background-color: #f7941e;
    }
  
    button#chNhSAHS-button5 {
        margin-top:30px;
    }

}
